
#searchWidget {
  max-width: 500px;
  height: 40px;
  border: 1px solid lightgrey;
}

#search {
  width: calc(150% - 50px);
  height: 110%;
  display: inline-block;
  padding: 5px 0px 5px 10px;
  box-sizing: border-box;
  vertical-align: top;
  outline: none;
  border: none;
  position: relative;
  text-align: left;
  top:40em;
  left: 3em;
}

#microphone {
  visibility: hidden;
  margin: 5px;
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: lightblue;
  border-radius: 18px;
  background-image: url("images/microphone.svg");
  position: relative;
  top:20em;
  left: 50em;
}

#camera {
  /*visibility: hidden;*/

  margin: 5px;
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: crimson;
  border-radius: 18px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/3c/Antu_folder-camera.svg");
  /*background-image: url("images/microphone.svg");*/
  position: relative;
  top:20em;
  left: 50em;
}

#microphone.available {
  visibility: visible;
}

#microphone.recording {
  background-color: #ffe6e6;
  background-image: url("images/microphone_running.svg");
}

#microphone:hover {
  cursor: pointer;
  background-image: url("images/microphone_hover.svg");
}

img.convo-image {
  width: 100px;
  height: 100px;
  clear: both;
  padding: 10px;
  display: block;
}